@page "/ModuloLBSystem/Novo"
@using Dominio
@inject HttpClient client
@inject NavigationManager navigationManager

<div class="row">
    <div class="col-lg-9">
        <h1>Novo Módulo</h1>
    </div>
    <div class="col-lg-3 text-end">
        <a class="btn btn-secondary btn-sm" href="/ModuloLBSystem" role="button">Voltar</a>
    </div>
</div>

@if(modulo is not null)
{
    <EditForm Model="@modulo" OnValidSubmit="@SubmitModuloAsync">
        <div>
            <label>Nome Módulo</label>
            <InputText class="form-control" @bind-Value=modulo.Ds_modulo/>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </EditForm>
}

@code{
    Modulo modulo = new Modulo();

    private async Task SubmitModuloAsync()
    {
        await client.PostAsJsonAsync<Modulo>("/v1/Modulo", modulo);
        navigationManager.NavigateTo("/ModuloLBSystem");
    }
}